/**
*   OKL Variables
*/

$sans-serif: Arial, Verdana, sans-serif;
$serif-font: Georgia, Times New Roman, serif;
$helvetica-font: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
$error-color: #ef1c38;
$okl-green: #426c34;
$okl-orange: #CB7937;

/* VAM Dashboard */
$lateorders-fontcolor: #b40607;
$lateorders-bgcolor: #ebdfe1;
$urgentorders-fontcolor: #d49a1e;
$urgentorders-bgcolor: #f8f5ea;
$upcomingorders-fontcolor: #407111;
$upcomingorders-bgcolor: #e9f3eb;


/* Mobile Responsive Styling */
$break-phone: "screen and (max-width : 320px)";
$break-tablet: "screen and (max-width : 768px)";